
:root {
    --bs-danger-soft-color: #fdd2d6
}

.full-screen-height {
    height: 100vh;
    min-height: 100vh;
}

.hidden-by-opacity {
    opacity: 0;
}

.opacity-animated {
    transition: opacity 0.2s;
}

.form-size {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}

.bg-danger-soft {
    background: var(--bs-danger-soft-color)
}

.logo-size {
    width: 200px;
    height: 70px;
    min-width: 200px;
    height: 70px;
}

.logo-scale {
    transform: scale(0.6);
}