
:root {
    --bs-danger-soft-color: #fdd2d6
}

.full-screen-height {
    height: 100vh;
    min-height: 100vh;
}

.hidden-by-opacity {
    opacity: 0;
}

.opacity-animated {
    transition: opacity 0.2s;
}

.form-size {
    width: 600px;
    min-width: 600px;
    max-width: 75vw;
    max-height: 75vh;
}

.file-request-container-size {
    width: 50%;
    max-width: 400px;
}

.bg-danger-soft {
    background: var(--bs-danger-soft-color)
}

.logo-size {
    width: 200px;
    height: 70px;
    min-width: 200px;
    height: 70px;
}

.logo-scale {
    transform: scale(0.6);
}

.svg-inverted-color {
    filter: invert(1)
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn > p {
    margin-bottom: 0;
    padding: 0 0.5em;
}